# REST API

* http protocol : API requests are communicated through http responses 
* URL - uniform resource locator 
* http:// - scheme
* www.google.com - base URL 
* /images/logo.png - location on the web server

|method|description|
|------|------------|
|GET| fetches data from server|
|POST| submits data to server|
|PUT| updates data on server|
|DELETE| deletes data from server|

* import **requests** (library for http requests)
* get request has content in the url and no body
* post request has no content in the url but has a body

In [4]:
import requests
url_get = 'http://httpbin.org/get'
payload= {"name":"Joseph", "ID":"123"}
r = requests.get(url_get, params= payload)
url_post = 'http://httpbin.org/post'
r_post = requests.post(url_post, data= payload)
print(r_post.request.body)

name=Joseph&ID=123

In [ ]:
!pip install beautifulsoup4
from bs4 import BeautifulSoup

In [50]:
import pandas as pd
url = 'https://web.archive.org/web/20230902185326/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29'
response = requests.get(url)
html_content = response.text
soup = BeautifulSoup(html_content, 'html.parser')
tables = soup.find_all('table')
req_table =tables[2]
df = pd.read_html(url)
req_data = pd.DataFrame(df[2])
req_data.drop(axis=0, index=0, inplace = True)
req_data

    Country/Territory UN region IMF[1][13]            World Bank[14]  \
    Country/Territory UN region   Estimate       Year       Estimate
1       United States  Americas   26854599       2023       25462700
2               China      Asia   19373586  [n 1]2023       17963171
3               Japan      Asia    4409738       2023        4231141
4             Germany    Europe    4308854       2023        4072192
5               India      Asia    3736882       2023        3385090
..                ...       ...        ...        ...            ...
209          Anguilla  Americas          —          —              —
210          Kiribati   Oceania        248       2023            223
211             Nauru   Oceania        151       2023            151
212        Montserrat  Americas          —          —              —
213            Tuvalu   Oceania         65       2023             60

               United Nations[15]
          Year           Estimate       Year
1         2022           23315081       2021
2    [n 3]2022           17734131  [n 1]2021
3         2022            4940878       2021
4         2022            4259935       2021
5         2022            3201471       2021
..         ...                ...        ...
209          —                303       2021
210       2022                227       2021
211       2022                155       2021
212          —                 72       2021
213       2022                 60       2021

[213 rows x 8 columns]